<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499772228440-mktrjr5k045h8kc8cn764t0f59j4hqq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499772228440-mktrjr5k045h8kc8cn764t0f59j4hqq8</string>
	<key>API_KEY</key>
	<string>AIzaSyARUWlBTEkEBP1gKA1q-X66OBCFJFU1cps</string>
	<key>GCM_SENDER_ID</key>
	<string>499772228440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytechnology.homemadesuppliers</string>
	<key>PROJECT_ID</key>
	<string>homemade-suppliers</string>
	<key>STORAGE_BUCKET</key>
	<string>homemade-suppliers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:499772228440:ios:d0865b78ed8e438f</string>
	<key>DATABASE_URL</key>
	<string>https://homemade-suppliers.firebaseio.com</string>
</dict>
</plist>
